.container{
    width: min(1200px, 90%);
    margin: 0 auto;
}

.section{
    padding: 120px 0;
}

img{
    display:block;
    max-width:100%;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}